@charset "utf-8";

.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body#homepage{
    background-color: #f5f5f5;
    font-family: "Noto Sans JP", sans-serif;
}

div.header{
    background-color: #972c2c;
    width: 100%;
    padding: 0px 20px 8px 20px;
    margin: auto;
    position: fixed;
    top: 0
}

h1{
    color: #fff1f1;
    margin: 0;
}

h2.section_title{
    color: #343434;
    margin: 0px auto 0px 4px;
    max-width: 600px;
}

div#allcard{
    margin: 65px 15px 0px 15px;
}

.pagecard{
    display: block;
    background-color: #eeeeee;
    border: 2px solid #bbbbbb;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 30px;
    margin: 10px 0 10px 0;
    max-width: 800px;
}

a.pagecard:hover{
    background-color: #f3e2e2;
}

.card_title{
    color: #343434;
    font-size: 25px;
    margin: 10px auto;
}

.pagecard p{
    color: #343434;
    font-size: 15px;
}

p.create_date{
    color: #757575;
    font-size: 15px;
}

section.pagecard a{
    color: #972c2c;
    text-decoration: none;
}

section.pagecard a:hover{
    text-decoration: underline;
}

