@charset "utf-8";

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body.firsttime{
    background-image: url("./backgroundyou.jpg");
    background-size: cover;
}

h2#clockP{
    color: #b9b9b9;
}

span#clock{
    color: #ff3b3b;
}

p{
    color: #3c3c3c;
}
/*pのタグがついたものを全部変える*/

p.sankou{
    color: #cdceff;
    font-size: 50px;
    font-weight: 800;
}
/*pのうちsankouのclassだけ見た目を変える*/

a.sankou{
    color: #e77f42;
    font-size: 50px;
    font-weight: 800;
}

a:hover{
    color: rgb(69, 212, 212);
}
/*これはカーソルを乗せた時だけ色を変えるってこと！*/

body.favoritemusic{
    font-family: "Zen Maru Gothic";
    background-color: rgb(232, 173, 183);
}

p.favoritemusic{
    color: #ffa0d7;
    font-size: 200%;
    font-weight: 400;
}

section.ranking{
    color: rgb(53, 25, 30);
    max-width: 800px;
    width: 95%;
    border: 2px solid rgb(116, 61, 69);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: rgb(244, 216, 220);
    margin: 10px auto;
}

h1#favoritemusic_title{
    color: #982222;
    font-size: 40px;
    text-align: center;
    max-width: 800px;
    margin: 20px auto 0px auto;
}

p.favoritemusic_description{
    text-align: center;
    max-width: 800px;
    margin: 0px auto 20px auto;
}

#link_top{
    color: #982222;
    max-width: 800px;
    margin: 10px auto 50px auto;
}

#link_top:hover{
    color: #3b9ad5;
}

#favoritemusic_kansou{
    max-width: 800px;
    margin: 0px auto 0px auto;
}

.favoritemusic section.ranking a{
    text-decoration: none;
    font-weight: 600;
    color: #982222;
}

.favoritemusic section.ranking a:hover{
    color: #3b9ad5;
}

/* 追加、変更したい時に気分でIDやらクラスをつけるせいで、たったこの量でもスパゲッティコードを回避するのがいかに難しいことかを理解した */
