@charset "utf-8";

body.home{
    background-image: url("./backgroundyou.jpg");
    background-size: cover;
}

h2#clockP{
    color: #b9b9b9;
}

span#clock{
    color: #ff3b3b;
}

p{
    color: #3c3c3c;
}
/*pのタグがついたものを全部変える*/

p.sankou{
    color: #cdceff;
    font-size: 50px;
    font-weight: 800;
}
/*pのうちsankouのclassだけ見た目を変える*/

a.sankou{
    color: #e77f42;
    font-size: 50px;
    font-weight: 800;
}

a:hover{
    color: rgb(69, 212, 212);
}
/*これはカーソルを乗せた時だけ色を変えるってこと！*/

body.favoritemusic{
    background-color: rgb(255, 207, 215);
}

p.favoritemusic{
    color: #ffa0d7;
    font-size: 200%;
    font-weight: 400;
}